
.DS_Store

StockIt/Stokit.1

Stokit.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Stokit.xcodeproj/project.xcworkspace/xcuserdata/ricardopereira.xcuserdatad/UserInterfaceState.xcuserstate

Stokit.xcodeproj/project.xcworkspace/xcuserdata/ricardopereira.xcuserdatad/WorkspaceSettings.xcsettings

Stokit.xcodeproj/xcuserdata/ricardopereira.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Stokit.xcodeproj/xcuserdata/ricardopereira.xcuserdatad/xcschemes/StockIt.xcscheme

Stokit.xcodeproj/xcuserdata/ricardopereira.xcuserdatad/xcschemes/xcschememanagement.plist
